<div class="container">
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Michroma&family=Patua+One&family=Rubik+Mono+One&family=Sigmar+One&family=Syncopate&display=swap');
    </style>
  </head>

  <header>
    <div class="user">
      <h2>Edit Raw Material</h2></br>
    </div>
  </header>

  <body>

    <% if current_user == @raw_material.user %>
      <form method="POST" action="/raw_materials/<%= @raw_material.id %>">
        <input id="hidden" type="hidden" name="_method" value="PATCH">

        <input type="text" name="chemical" value="<%= @raw_material.chemical %>" class="button"></br>
        <input type="text" name="company" value="<%= @raw_material.company %>" class="button"></br>
        <input type="text" name="lot_number" value="<%= @raw_material.lot_number %>" class="button"></br>
        <input type="text" name="amount" value="<%= @raw_material.amount %>" class="button"></br>

        <input type="submit" value="Edit Raw Material" class="submit">
      </form>

    <% else %>
      You do not have access to edit this raw material.</br></br>

      <a href="/raw_materials">View All Chemicals</a>
    <% end %>

  </body>
</div>
