<div class="container">
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Michroma&family=Patua+One&family=Rubik+Mono+One&family=Sigmar+One&family=Syncopate&display=swap');
    </style>
  </head>

  <header>
    <div class="all_raw_materials">
      <h2>Raw Materials</h2>
    </div>
  </header>

  <body>
    <div class="raw_materials">
      <% @raw_materials.each.with_index(1) do |raw_material,index| %>
        <%= index %>. <b><a href="/raw_materials/<%= raw_material.id %>"><%= raw_material.chemical %></a></b>
        from <%= raw_material.company %>
        submitted by <%= raw_material.user.username %></br>

      <% end %>
    </div>

  </br></br><a href="/raw_materials/new">Create Raw Material</a>

  </body>
</div>
